* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    padding: 20px;
}

header {
    font-size: x-large;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-bottom: 20px;
}

.task-input {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#taskInput {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addTaskButton {
    padding: 10px 15px;
    margin-left: 15px;
    border: none;
    background-color: #0003ca;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 6px 10px grey;
}

.task-list {
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
}

#taskList {
    list-style: none;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#taskList li {
    background: #f4f4f4;
    padding: 12px 15px;
    margin-bottom: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:  3px 5px 5px grey;
    font-size: 16px;
}

#taskList li button {
    background-color: #dc3545;
    color: white;
    border: solid 1px black;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

#taskList li button:hover {
    background-color: #b52a35;
}.task-input

h1 {
    color: #333;
}