* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
    padding-right: 55rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

input {
    padding: 0.25rem;
}

label {
    font-size: 1.5rem;
    padding-top: 10rem;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    color: black;
    background-color: white;
}

button:hover {
    color: white;
    background-color: black;
}