* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    display: flex;
    justify-content: center;
}

header {
    border: 1px solid #cccccc;
    background-color: #e6e6e6;
}

h1, p {
    background-color: #e6e6e6;
}

label {
    font-weight: bold;
}

button:hover {
    background-color: black;
    color: white;
}

.formTitle {
    font-size: 1.5rem;
    margin: 3rem;
}

.form {
    display: flex;
    justify-content: center;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    box-shadow: black 5px 5px 15px;
    font-size: 20px;
    margin: 1rem;
}

.footerInfo {
    font-size: 15px;
    margin: 3rem;
}