* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}