* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35rem;
    gap: 10px;
    background-color:#e0deff;
}

body {
    background-color: #d6eaff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 45px;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.outcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    gap: 20px;
}